body {
  background: rgb(125, 198, 205);
  color: rgb(190, 183, 183);
  padding: 10px;
  font-family: Arial, sans-Serif;
}
#all-contents {
  max-width: 800px;
  margin: auto;
}
/* navigation menu*/
nav {
  background: rgb(10, 30, 70);
  margin: 3 auto;
  display: flex;
  padding: 10px;
  margin-bottom: 20px;
}

h1 {
  display: flex;
  align-items: center;
  color: Dark blue;
  flex: 1;
  margin: 0;
}
.nav-li {
  display: inline-block;
  padding: 0 10px;
}
a {
  text-decoration: navy;
  color: fff;
}
main {
  background-color: Rgb(245, 238, 219);
  display: flex;
  margin-top: 20px;
}
.sidebar {
  margin-right: 25px;
  padding: 10px;
}
.content {
  flex: 1;
  padding: 15px;
}
#interests {
  border: 3px rgb(170, 204, 233) ridge;
  padding: 8px;
  margin-top: 20px;
}
h2,
h3 {
  margin: 0px;
}
.sidebar-img {
    width: 200px;
}